---
name: windows

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

jobs:
  perl:
    strategy:
      matrix:
        perl: ["5.42", "5.16"]
        distribution: ["default", "strawberry"]
        exclude:
          - distribution: default
            perl: "5.16"
      fail-fast: false
    env:
      MAKECMD: ${{ (matrix.distribution == 'strawberry' && matrix.perl == '5.16' && 'dmake') || 'gmake' }}
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          distribution: ${{ matrix.distribution }}
          enable-modules-cache: false
      - name: perl -V
        run: perl -V
      - name: Build module
        run: |
          perl Makefile.PL
          ${{ env.MAKECMD }}
      - name: Run tests
        run: |
          ${{ env.MAKECMD }} test
